.collectionImage {
    width: 100%;
    opacity: 0.4;
}

.collectionText {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 28px;
    font-weight: 500;
    font-size: 25px;
}
.modalCollectionText span {
    display: block;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.modalCollectionText h4 {
    font-family: Rubik;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.collectionTitle {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}

.collectionItem {
    position: relative;
    width: 250px;
    height: auto;
}

.collectionItem:hover {
    cursor: pointer;
}
.collectionsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.collectionItem {
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
/* preview */
.collectionPreviewItem {
    width: 440px;
    height: 200px;
    display: flex;
}
.collectionPreviewImage {
    width: 150px;
    margin: 0 50px 20px 0;
    /* height: auto; */
}

.collectionPreviewText {
    display: flex;
    align-items: center;
}

/* modal */
.modalContent {
    /* width: 500px; */
    background: linear-gradient(90deg, #c33764 0%, #1d2671 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modalCollectionImage {
    width: 125px;
    width: 185px;
    height: auto;
    margin-right: 10px;
}

.modalCollectionBody {
    /* position: fixed; */
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    width: 400px;
}
.modalCollectionBody:hover {
    cursor: pointer;
}

.modalHeader,
.modalFooter {
    padding: 10px;
    margin: 0 auto;
}

.modalTitle {
    margin: 0;
}

.modalBody {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
    flex-direction: row;
}

.modalNext,
.modalClose {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
