.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
            to right,
            rgba(255, 78, 135, 0.9),
            rgba(29, 38, 113, 0.9)
        ),
    url('../../../src/images/cover.jpg');
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
