.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1440px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #c33764 0%, #1d2671 100%);
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}
