.navBar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.navBar a {
    color: white;
}