.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    height: 170px;
    display: flex;
    align-items: center;
    font-family: Rubik;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.navBar a {
    color: white;
    text-decoration: none;
}

.headerMenu {
    width: 350px;
    display: flex;
}

.headerMenu a {
    margin-left: 60px;
}

.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo img {
    width: 495px;
    height: auto;

    /* margin-left: -80px; */
}

@media (max-width: 767px) {
    .navBar {
        font-size: 12px;
        padding: 0px;
        height: auto;
    }

    .headerLogo img {
        margin-left: 0;
        width: 100%;
    }

    .headerMenu {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .headerMenu a {
        margin-left: 5px;
    }
}

/* .label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
} */
.btn {
    background-color: transparent;
    outline: none;
    border-style: none;
    cursor: pointer;
}

.btn {
    color: #ffffff;
    transition: color 0.4s;
}

.btn:hover,
.btn:focus {
    color: #c33764;
}
