.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.gallery li {
  margin-right: 10px;
  list-style-type: none;
}

.notification {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
}

.winnerTitle {
  width: 100%;
  text-align: center;
}

.winnerWrap {
  border-radius: 50%;
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
}

.winnerVotes {
  width: 100%;
  text-align: center;
}

.winnerCongratulations {
  margin-top: 20px;
  text-align: center;
}

.roomMovies {
  max-width: 1200px;
}

.movieInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;
}

.movieTitle {

  /* //styleName: H1; */
  font-family: Rubik;
  font-size: 41px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.movieTitle,
.originalTitle,
.movieRating,
.movieYear {
  margin-bottom: 14px;
}

.originalTitle {
  font-family: Rubik;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(224, 224, 224, 1);
}

.movieRating {
  color: rgba(255, 194, 245, 1);
}

.movieYear {
  color: rgba(255, 255, 255, 1);
}

.movieOverview {
  color: rgba(255, 255, 255, 1);
}

.actionButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.actionButtonDislike,
.actionButtonLike {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 20px;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.actionButtonLike {
  background: linear-gradient(90deg, #1d976c 99.99%, #5cfb97 100%);
}

.actionButtonDislike {
  margin-right: 50px;
  background: linear-gradient(
        90deg,
        #eb3349 0%,
        rgba(244, 92, 67, 0.87) 100%
    );
}

.actionButtonDislike,
.actionButtonLike {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.likeImage,
.dislikeImage {
  margin-right: 10px;
  width: 24px;
  height: 21px;
}

/* mobile */

@media (max-width: 767px) {
  .roomMovies {
    max-width: 100%;
  }

  .actionButtons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .actionButtonDislike {
    margin-right: 0px;
  }

  .actionButtonLike {
    margin-bottom: 10px;
  }

  .movieAbout {
    max-width: 100%;
  }

  .movieInfo {
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .movieImage {
  }

  .movieImageWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .movieTitle {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 5px;
  }

  .originalTitle {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.movie {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  width: 172px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}

.movie:hover {
  cursor: pointer;
}

.movieImage {
  display: block;
  height: 248px;
  width: 100%;
  margin-right: 35px;
  margin-bottom: 0px;
}

.movieLikesWrap {
  background: #700e49;
  height: 60px;
  color: white;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieLikes {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d04cb3;
  width: 50%;
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
  font-style: normal;
}

.movieLikeImage {
  width: 24px;
  height: 21px;
  margin-right: 10px;
}

.movieTitle {
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.movieYear {
  color: #bdbdbd;
  font-size: 16px;
}
