<<<<<<< HEAD
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Rubik',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
=======
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(90deg, #c33764 0%, #1d2671 100%);
    font-family: Rubik;
>>>>>>> master
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
