.form {
    padding-top: 50px;
}

.label {
    display: flex;
    flex-direction: column;
}

.label:not(:last-child) {
    margin-bottom: 25px;
}

.input {
    padding-left: 21px;
    padding-right: 21px;
    width: 400px;
    height: 50px;
    border-style: none;
    border: 0.5px solid #ffffff;
    border-radius: 30px;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

.pass {
    position: relative;
}

.input::placeholder {
    /* padding-left: 21px; */
    color: #ffffff;
    opacity: 50%;
    font-size: 16px;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
}

.checkboxTitle {
    font-size: 14px;
    font-weight: 300;
}

.notVisiblePass,
.visiblePass {
    cursor: pointer;
    position: absolute;
    right: 21px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;

    /* fill: rgba(255, 255, 255, 0.3); */

    fill-opacity: 0.3;
}

.notVisiblePass {
    top: 14px;
    background-image: url(../../images/notVisiblePass.svg);
}

.visiblePass {
    top: 13px;
    background-image: url(../../images/visiblePass.svg);
}

.error {
    padding-left: 21px;
    margin-top: 10px;
    font-size: 16px;
    color: red;
}
